{% load static %}
<html lang="us">
    <head>
        <meta charset="UTF-8"><!-- Unicode facilita el intercambio de archivos de texto internacionales y añade letras como tilde, ñ .-->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <title>{% block title %}Pet World{% endblock title %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="icon" type="images/dog" href="{% static 'images/dog.png' %}"><!--icono en barra de navegacion-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--Pack de iconos-->
        <script src="https://kit.fontawesome.com/bbf2a66727.js" crossorigin="anonymous"></script>
    </head>

    <body>

<nav class="barra_inicio">

    <ul>
        <li id="navLogo"><a href="{% url 'petworld:index' %}"><img id="logopatita" src="{% static 'images/petworld-black.png' %}" alt="X"></a></li>
        <li><a href="{% url 'petworld:index' %}">Inicio</a></li>
        {% if request.user.is_staff %}
        <li><a href="{% url 'petworld:administracion' %}">Administración</a></li>
        {% else %}
        <li><a href="{% url 'petworld:acerca_de_nosotros' %}">Acerca de Nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contactanos</a></li>
        {% endif %}
    </ul>

</nav>

<nav class="titular">

    <h1>Bienvenido {{user.username}} !</h1>
    <h2>No te pierdas nuestros productos para tus mascotas</h2>
    <div class="wave" style="height: 150px; " ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 516.08,41.94 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg>
    </div><!--wave- ola para adornar-->
</nav>

<div class="barra_nav">

    <ul>
        <li><a href="#">Farmacia</a>
            <ul class="submenu"><!--submenu-->
                <li><a href="#">Pipetas</a></li>
                <li><a href="#">Vitaminas</a></li>
            </ul>
        </li>
        <li><a href="{% url 'petworld:productos_perro' %}">Perros</a>
            <ul class="submenu"><!--submenu-->
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Juguetes</a></li>
            </ul>
        </li>
        <li><a href="{% url 'petworld:productos_gato' %}">Gatos</a>
            <ul class="submenu"><!--submenu-->
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">juguetes</a></li>
                <li><a href="#">Arena</a></li>
            </ul>
        </li>
        <li><a href="#">Exóticos</a>
            <ul class="submenu"><!--submenu-->
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Habitat</a></li>
            </ul>
        </li>
        <li><a href="#">Información</a>
            <ul class="submenu"><!--submenu-->
                <li><a href="#">Calidad</a></li>
                <li><a href="#">Horario</a></li>
            </ul>
        </li>
        <li></li>
        <li class="red"><a href={% url 'login' %}>
            <!--<label for="show" id="registrarc">-->
            <img class="icono_nav" src="{% static 'images/user.png' %}" alt="X"></label></a></li>
        <li class="red"><a href="#" >
            <img class="icono_nav" src="{% static 'images/carrito.png' %}" alt="X"></a></li>
        <li class="red"><a href="http://www.facebook.com/" target="_blank">
            <img class="icono_nav" src="{% static 'images/facebook.png' %}" alt="X"></a></li>
        <li class="red"><a href="https://www.instagram.com/rollo_kaim/" target="_blank">
            <img class="icono_nav" src="{% static 'images/instagram.png' %}" alt="X"></a></li>
    </ul>
</div>{% block body %}
<div class="lista-promo">
    <h1> Aprovecha nuestras promociones registrandote</h1>

    <div class="main-carousel" data-flickity='{"draggable": false, "wrapAround": true,
        "autoPlay": true, "cellAlign": "center", "watchCSS": false}'>

        {% if productos %}
          {% for producto in productos %}
          <div class="carousel-cell"><a class="precio" href=#>
              <h3 class="titulo-prod">{{ producto.nombre }}</h3>
              <img class="image-carousel" src='{{ producto.imagen.url }}' alt="x">
              <p class="precio">CLP ${{ producto.valor }}</p></a>
          </div>
          {% endfor %}
        {% else %}
           <h1>NO HAY PRODUCTOS!</h1>
        {% endif %}


    </div>
</div>
<!--galeria de imagenes-->
<div class="container gallery-container">

    <h1>Galería de nuestros Clientes</h1>

    <p class="page-description text-center">¡Envíanos la tuya!</p>

    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/jugueteperro.jpg' %}">
                    <img src="{% static 'images/jugueteperro.jpg' %}" alt="Juguetes para perros">
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/farmacia.jpg' %}">
                    <img src="{% static 'images/farmacia.jpg' %}" alt="farmacia">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static 'images/accesorios.jpg' %}">
                    <img src="{% static 'images/accesorios.jpg' %}" alt="accesorios">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/alimentos.jpg' %}">
                    <img src="{% static 'images/alimentos.jpg' %}" alt="Alimentos">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="{% static 'images/jarabe.jpg' %}">
                    <img src="{% static 'images/jarabe.jpg' %}" alt="jarabe">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static 'images/cachorros.jpg' %}">
                    <img src="{% static 'images/cachorros.jpg' %}" alt="cachorros">
                </a>
            </div>
        </div>
    </div>
</div>
<!--termino de galeria-->

<!--Scripts-->
<script src="{% static 'js/flickity-carousel.js' %}"></script><!--archivo de javascript para activar el carousel-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>baguetteBox.run('.tz-gallery');</script>
<!--Fin de los Scripts-->
{% endblock body %}
<footer>
    <p>@ 2020 Pet World - All rights reserved.</p>
</footer>


{% block registro %}
<!--Registrar Usuario-->
<input type="checkbox" id="show">
    <nav id="espacio-oscuro"></nav>
    <form class="register" method="POST">
        <div class="wrapper">
            <label for="show" class="close-btn fas fa-times"></label>
            <div class="title">
                Registro:
            </div>
            <div class="form">
                <div class="input_field">
                    <label>Nombre:</label>
                    <input type="text" class="input" placeholder="Escribe tu nombre" required/>
                </div>
                <div class="input_field">
                    <label>Apellido:</label>
                    <input type="text" class="input" placeholder="Escribe tu apellido" required/>
                </div>
                <div class="input_field">
                    <label>Contraseña:</label>
                    <input type="password" class="input" placeholder="Escribe una contraseña" required/>
                </div>
                <div class="input_field">
                    <label>Confirmar Contraseña:</label>
                    <input type="password" class="input" required/>
                </div>
                <div class="input_field">
                    <label>Genero:</label>
                    <div class="custom_select">
                        <select>
                            <option value="">Seleccione</option>
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                            <option value="otre">Otro</option>
                        </select>
                </div>
            </div>
            <div class="input_field">
                <label>Email:</label>
                <input type="email" class="input" placeholder="Ingresa tú correo electrónico" required/>
            </div>
            <div class="input_field">
                <label>Teléfono:</label>
                <input type="number" class="input" placeholder="Ingresa tú número telefónico" required/>
            </div>
            <div class="input_field">
                <label>Dirección:</label>
                <textarea class="textarea"></textarea>
            </div>
            <div class="input_field_terms">
                <label class="check">
                    <input type="checkbox" required>
                    <span class="checkmark"></span>
                </label>
                <p>Estoy deacuerdo con los terminos y condiciones</p>
            </div>
            <div class="input_field">
                <input type="submit" value="Registrar!" class="btn"/>
            </div>
        </div>
    </form>
{% endblock registro %}
    </body>
</html>
